@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main_color: #245af6;
  --point_color: #4dd0e1;
  --sub_light_color: #e6eeff;
  --disabled_color: #6f93ff;
  --error_color: #eb5757;
  /* gray */
  --gray_light_color: #f2f2f2;
  --gray_medium_color: #e0e0e0;
  --gray_semidark_color: #c4c4c4;
  --gray_dark_color: #767676;
  --gray_black_color: #424242;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: 10px;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #fafafa;
  color: var(--foreground);
}

.body-wrapper {
  background: var(--background);
  max-width: 390px;
  margin: 0 auto;
  height: 100vh;
  overflow-y: scroll;
}

main {
  padding-top: 50px;
}

.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
}

.swiper-pagination-bullet-active {
  background: var(--main_color) !important;
}

.bar {
  margin: 10px 0 ;
  width: 390px;
  height: 10px;
  background-color: var(--gray_light_color);
}
