@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main_color: #245AF6;
  --point_color: #4DD0E1;
  --sub_light_color: #E6EEFF;
  --disabled_color: #6F93FF;
  --error_color: #EB5757;
  /* gray */
  --gray_light_color: #F2F2F2;
  --gray_medium_color: #E0E0E0;
  --gray_semidark_color: #C4C4C4;
  --gray_dark_color: #767676;
  --gray_black_color: #424242;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: 10px;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #fafafa;
  color: var(--foreground);
}

.body-wrapper {
  background: var(--background);
  max-width: 390px;
  margin: 0 auto;
  height: 100vh;
  overflow-y: scroll;
}

main {

}
